@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", system-ui, sans-serif;
  color: #FEEF4C;
  background-color: #2A323F;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #2A323F;
}
